<a href="https://colab.research.google.com/github/mnaiem262/90DaysOfDevOps/blob/main/week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world!")

Hello world!

In [2]:
print("The number is", 4)

The number is 4

In [2]:
name = "Muhammad"

print("Hello my friend, {}".format(name))
print(f"Hello, {name}")

Hello my friend, Muhammad
Hello, Muhammad

In [5]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"my age is {age} my name is {name}")

Enter your name: naeem
Enter your age: 13
my age is 13 my name is naeem

In [2]:
number = 3

if number >= 4:
  print(f"{number} is greater then 4")
else:
  print(f"{number} is less then 4")

3 is less then 4

In [6]:
number = 4
if number > 5:
  print(f"{number} is greater then 5")
elif number == 5:
  print(f"{number} is equal to 5")
else:
  print(f"{number} is less then 5")

4 is less then 5

In [8]:
a = 3
b = 5
if a == 7 and b == 5:
  print(f"{a} is equal to 7 and {b} is equal to 5")
else:
  print(f"{a} is not equal to 7 and {b} also not equal to 5")

3 is not equal to 7 and 5 also not equal to 5

In [12]:
# for vailable in range(start, stop, step):
for i in range(0, 7, 2):
  print(i)

0
2
4
6

In [13]:
for i in range(5):
  print(i)

0
1
2
3
4

In [14]:
for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

In [ ]:
while condition:
  # code to repeat

In [12]:
count = 5
while count < 5:
  print(count)
  count -= 1

In [13]:
import time
for i in range(5, 0, -1):
  print(i)
  time.sleep(1)
print("Happy new year!")

5
4
3
2
1
Happy new year!

In [14]:
import time

start = int(input("Enter the number to start the countdown from: "))
while start > 0:
  print(start)
  time.sleep(1)
  start -=1
print("Happy new year!")

Enter the number to start the countdown from: 10
10
9
8
7
6
5
4
3
2
1
Happy new year!

In [1]:
def greeting():
  print("Hello Word!")
greeting()

Hello Word!

In [4]:
def greet_user(name):
  print(f"Hello, {name} this is python language!")
greet_user("Ali")
print(greet_user("Ali"))

Hello, Ali this is python language!
Hello, Ali this is python language!
None

In [6]:
def multiply(a, b):
  return a * b
result = multiply(2, 3)
print(result)

6

In [27]:
from ast import operator
import random

def generate_question(a, b):
  num1 = random.randint(a, b)
  num2 = random.randint(a, b)
  operator = random.choice(["+","-","*"])
  if operator == "+":
    return num1 + num2
    answer = num1 + num2
  elif operator == "-":
    return num1 - num2
    answer = num1 - num2
  else:
    return num1 * num2
    answer = num1 * num2
  # return f"{num1} {operator} {num2}", answer
result = generate_question(1, 3)
print(result)

6